{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tables.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('lib/DataTables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var order=[1,"desc"];
    </script>
    <script type="text/javascript" src="{{ asset('js/tables.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card-panel">
        <h2>Calles mas transitadas</h2>

        <div class="row">
            <div id="admin" class="col s12">
                <div class="material-table">
                    <div class="table-header">
                        <span class="table-title">Datos</span>
                        <div class="actions">
                            <a href="javascript:void(0)" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <table id="datatable">
                        <thead>
                            <tr>
                                <th class="no-sort">Calle</th>
                                <th>Cantidad de autos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for calle in calles %}
                            <tr>
                                <td>{{ calle.callePrimaria }}</td>
                                <td>{{ calle.autosPorMinuto }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
