{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tables.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('lib/DataTables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        var order=[0,"asc"];
    </script>
    <script type="text/javascript" src="{{ asset('js/tables.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card-panel">
        <h2>Semáforos Registrados</h2>

        <div class="row">
            <div id="admin" class="col s12">
                <div class="material-table">
                    <div class="table-header">
                        <span class="table-title">Datos</span>
                        <div class="actions">
                            <a href="javascript:void(0)" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <table id="datatable">
                        <thead>
                            <tr>
                                <th class="10percent">Calle</th>
                                <th>URL</th>
                                <th class="20percent no-sort">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semaforo in semaforos %}
                            <tr>
                                <td>{{ semaforo.calle.nombre }}</td>
                                <td><a href="{{ semaforo.url }}">{{ semaforo.url }}</a></td>
                                <td>
                                    <a href="{{ path('semaforo_graphic', { 'id': semaforo.id }) }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">remove_red_eye</i>Ver Estado</a></a>        
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
